<h1>Stupid Coaching</h1>

<div class="card">
  <div class="left-border"></div>
  <div class="question">
    <p><%= @question%></p>
    <p>-You</p>
  </div>
</div>

<div class="card">
  <div class="left-border"></div>
  <div class="answer">
    <p><strong><%= @answer%></strong></p>
    <p>-Your coach</p>
  </div>
</div>


<%= link_to 'Ask a new question', ask_path %>
